# Next.js
.next/
out/
build/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Env
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/
playwright-report/
test-results/
/playwright/.cache/
